{% extends 'base.html' %} {% block content %}
<form action="/">
	<div class="mb-3">
		<label for="search" class="form-label">Search a movie title: </label>
		<input class="form-control" name="search" />
	</div>
	<button type="submit" class="btn btn-primary">Search</button>
</form>
<p>Searching for: {{ search }}</p>
<div class="row row-cols-1 row-cols-md-3 g-4">
	{% for movie in movies %}
	<div class="col" v-for="movie in movies">
		<div class="card">
			<img src="{{ movie.image.url }}" class="card-img-top" />
			<div class="card-body">
				<h5 class="card-title fw-bold">{{ movie.title }}</h5>
				<p class="card-text">{{ movie.description }}</p>
				{% if movie.url %}
				<a href="{{ movie.url }}" class="btn btn-primary">View</a>
				{% endif %}
			</div>

			{% if movie.genre and movie.year %}
			<div class="card-footer text-body-secondary">
				{{ movie.genre }}・{{ movie.year }}
			</div>
			{% else %}
			<div class="card-footer text-body-secondary">
				Unknown Genre・Unknown Year
			</div>
			{% endif %}
		</div>
	</div>
	{% endfor %}
	<br />
	<br />
	<form action="{% url 'signup' %}">
		<div class="mb-3">
			<label for="email" class="form-label">Enter your e-mail: </label>
			<input type="email" name="email" class="form-control" />
		</div>
		<button type="submit" class="btn btn-primary">Sign Up</button>
	</form>
</div>

{% endblock content %}
